<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" description="Your one stop shop to rent desired rides">
    <title>Renty</title>
</head>
<body>
    <header>
        <nav>
            <ol>
                <li><a href="#">Create request</a></li>
                <li><a href="#">Choose a car</a></li>
                <li><a href="#">Choose extras</a> </li>
                <li><a href="#">Review & Book</a></li>
            </ol>
        </nav>
    </header>
</body>
</html>