<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" description="Your one stop shop to rent desired rides">
    <title>Renty</title>
</head>
<body>
      <header>
          <nav id="navbar">
              <h1>
                  <span class="title">Renty</span>
              </h1> 
  
              <ul>
                  <li class="bg-orange">Help</li>
                  <li>Terms & Conditions</li>
                  <li>About</li>
                  <li>Contact Us</li>
              </ul>

              <div class="all">
                  <div class="lang-country">
                      <select name="language" id="language">
                          <option value="fr">English</option>
                          <option value="fr">French</option>
                          <option value="fr">Latin</option>
                          <option value="fr">Portuguese</option>
                        </select>
    
                        <select class="bg-orange" name="country" id="country-list">
                            <option value = "">Choose Country</option>
                        </select>
                  </div>
                  
      
                  <div class="others">             
                    <button class="bg-dark">Register</button>
                    <button class="bg-grey">Sign in</button>
                  </div>
              </div>

             

          </nav>
      </header>

      <main>
          <app-nav></app-nav>

          <app-search></app-search>

      </main>
  
</body>

</html>

