html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: normal;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Utility Class */
.bg-orange {
    background: rgb(255, 102, 0);
    color: white;
}
.bg-dark {
    background: #333;
    color: #fff;
}
.bg-grey {
    background: grey;
    color: white;
}