<html>
    <body>
        <div id="text">
                <p>Search for a car: </p>
        </div>
        <div id="container">
              
            <div class="form-wrap">
                <form>
                        <div class="form-group">
                            <label for="location">LOCATION</label>
                            <input type="text" id="location" placeholder="Enter a location">
                        </div>
                        <div class="form-group" id="pick">
                            <div class="form-group-item">
                                <label for="pick-up-date">PICK-UP DATE</label>
                                <input type="date" id="pick-up-date">
            
                                <input type="time" id="pick-time"> 
                            </div>                                          
                        </div>
        
                        <div class="form-group" id="drop">
                            <div class="form-group-item">
                                <label for="drop-off-date">DROP-OFF DATE</label>
                                <input type="date" id="drop-off-date">
            
                                <input type="time" id="drop-time"> 
                            </div>
                        </div>
        
                        <div class="form-group">
                            <label for="type"></label>
                            <select name="type" id="type">
                                <option value="compact">Compact</option>
                                <option value="standard">Standard</option>
                                <option value="intermediate">Intermediate</option>
                                <option value="compact">Compact</option>
                                <option value="compact">Compact</option>
                            </select>
                        </div>
                        <button class="update-btn bg-orange">
                            UPDATE
                        </button>
                    </form> 
            </div>
        </div>
      
    </body>
</html>