/* Utility */
.btn-padding {
  padding: 10px;
  border-radius: 4px;
  border: 1px solid grey;
}

.mr {
  margin-right: 10px;
}

.small-input {
  width: 51%;
}

.smaller-input {
  width: 35%;
}

input,
select,
button {
  height: 45px;
}

#container {
  padding: 20px;
  display: flex;
  justify-content: center;
  max-width: 100%;
}
#text {
  display: block !important;
  margin: 10px 7%;
}

#container .form-wrap {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

#container .form-wrap .form-group {
  display: inline-block;
  margin: 0px 5px 0px 5px;
}

.form-wrap .form-group label {
  display: block;
  font-size: 0.7em;
}

/* .form-wrap .form-group input#location {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid grey;
} */

#container .form-wrap .form-group .form-group-item {
  /* display: flex; */
  /* flex-wrap: wrap; */
  margin-right: -25px;
}

#container .form-wrap .form-group .form-group-item label {
  display: block;
}

.update-btn {
  margin-left: 5px;
}

.inline {
  display: inline;
}
